/* Background color is off black, rgb(0 5 10). Text color is an off white, rgb(252, 250, 255). Border/Background for buttons is rgb(17 69 166).*/

body {
  background-color: rgb(0 5 10);
  color: rgb(252, 250, 255);
  font-size: large;
}

.cssBox {
  display: grid;
  grid-template-columns: 15vw 5vw 70vw 10vw;
  grid-template-rows: 15vh 70vh 7vh 8vh;
}

.headerPlace {
  grid-column: 3;
  grid-row: 1;
}

.footerPlace {
  grid-column: 3;
  grid-row: 3
}

.menuBar {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: rgb(17 69 166) 1px solid;
}

.currentProjectButton {
  border: rgb(17 69 166) 1px solid;
  color: rgb(252, 250, 255);
  text-decoration: none;
  background-color: rgb(17 69 166);
  width: 100%;
  height: 20vh;
}

.portfolioButton {
  border: rgb(17 69 166) 1px solid;
  color: rgb(252, 250, 255);
  text-decoration: none;
  background-color: rgb(17 69 166);
  width: 100%;
  height: 20vh;
}

.aboutMeButton {
  border: rgb(17 69 166) 1px solid;
  color: rgb(252, 250, 255);
  text-decoration: none;
  background-color: rgb(17 69 166);
  width: 100%;
  height: 20vh;
}

.informationBox {
  grid-column: 3;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border: rgb(17 69 166) 1px solid;
}

.aboutMeInformation {
  display: none;
}

.portfolioPageInformation {
  display: none;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: scroll;
}

.currentProjectInformation {
  height: 95%;
  width: 95%;
  display: none;
  overflow: scroll;
  flex-direction: column;
}

.pleaseScroll {
  position: fixed;
  left: 50vw;
  top: 18vh;
}

.wireframe {
  height: 20vh;
  width: 20vw;
}

.showClass {
  display: inline-block;
}

@media screen and (max-width:1366px) {
  body {
    font-size: initial;
  }
  .cssBox {
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: 5vh 10vh 10vh 10vh 55vh 10vh
  }
  .headerPlace {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2;
    grid-row: 1;
    font-size: 20px;
  }
  .footerPlace {
    grid-column: 2;
    grid-row: 6;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menuBar {
    grid-column: 2;
    grid-row: 2/4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: rgb(17 69 166) 1px solid;
  }
  .aboutMeButton {
    height: 10vh;
  }
  .portfolioButton {
    height: 10vh
  }
  .currentProjectButton {
    height: 10vh;
  }
  .informationBox {
    grid-column: 2;
    grid-row: 5;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border: rgb(17 69 166) 1px solid;
  }
  .pleaseScroll {
    position: fixed;
    left: 41vw;
    top: 38vh;
  }
  .currentProjectInformation {
    overflow: scroll;
  }

  .wireframe {
    height: 20vh;
    width: 70vw;
  }
}