/* Background color is off black, rgb(0 5 10). Text color is an off white, rgb(252, 250, 255). Border/Background for buttons is rgb(17 69 166).*/

body {
  background-color: rgb(0 5 10);
  color: rgb(252,250,255)
}


.cssBox {
  display: grid;
  grid-template-columns: 15vw 5vw 70vw 10vw;
  grid-template-rows: 15vh 70vh 7vh 8vh;
}

.headerPlace {
  grid-column: 3;
  grid-row: 1;
}

.footerPlace {
  grid-column: 3;
  grid-row: 3
}

.menuBar {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: rgb(17 69 166) 1px solid;
}

.currentProjectButton {
  border: rgb(17 69 166) 1px solid;
  color: rgb(252,250,255);
  text-decoration: none;
  background-color:rgb(17 69 166);
  width: 100%;
  height: 20vh;
}

.portfolioButton {
    border: rgb(17 69 166) 1px solid;
    color: rgb(252,250,255);
    text-decoration: none;
    background-color:rgb(17 69 166);
    width: 100%;
    height: 20vh;
}

.aboutMeButton {
  border: rgb(17 69 166) 1px solid;
  color: rgb(252,250,255);
  text-decoration: none;
  background-color: rgb(17 69 166);
  width: 100%;
  height: 20vh;
}

.informationBox {
  grid-column: 3;
  grid-row: 2;
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border: rgb(17 69 166) 1px solid;
}

.aboutMeInformation {
  display: none;
}

.portfolioPageInformation {
  display: none;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: scroll;
}

.testDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testImage {
  height: 500px;
  width: 500px;
}

.currentProjectInformation {
  display: none;
}


.showClass {
  display: flex;
}