/* Background color is off black, rgb(0 5 10). Text color is an off white, rgb(252, 250, 255). Border/Background for buttons is rgb(17 69 166).*/

@font-face {
  font-family: 'NovaMono';
  font-style: normal;
  src: local('NovaMono'), url('./components/font/nova-mono/NovaMono.ttf') format('truetype');
}

body {
  font-family: 'NovaMono';
  background-color: rgb(0 5 10);
  color: rgb(252, 250, 255);
  font-size: large;
}

body button {
  font-family: 'NovaMono';
}

.cssBox {
  display: grid;
  grid-template-columns: 15vw 5vw 70vw 10vw;
  grid-template-rows: 15vh 70vh 7vh 8vh;
}

.headerPlace {
  grid-column: 3;
  grid-row: 1;
}

.menuBar {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: rgb(17 69 166) 1px solid;
}

.menuBar button {
  border: rgb(17 69 166) 1px solid;
  color: rgb(252, 250, 255);
  text-decoration: none;
  background-color: rgb(17 69 166);
  width: 100%;
  height: 20vh;
}

.informationBox {
  grid-column: 3;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border: rgb(17 69 166) 1px solid;
}

.aboutMeInformation {
  display: none;
}

.portfolioPageInformation {
  display: none;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: scroll;
}

.currentProjectInformation {
  height: 95%;
  width: 95%;
  display: none;
  overflow: scroll;
  flex-direction: column;
}

.wireframe {
  height: 20vh;
  width: 20vw;
}

.showClass {
  display: inline-block;
}

.portfolioPageInformation div {
  margin: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portfolioPageInformation img {
  height: 30vh;
  width: 30vw;
}

@media screen and (max-width:1366px) {
  body {
    font-size: initial;
  }

  .cssBox {
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: 5vh 10vh 10vh 10vh 55vh 10vh
  }

  .headerPlace {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2;
    grid-row: 1;
    font-size: 20px;
  }

  .menuBar {
    grid-column: 2;
    grid-row: 2/4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: rgb(17 69 166) 1px solid;
  }

  .menuBar button {
    height: 10vh;
  }

  .informationBox {
    grid-column: 2;
    grid-row: 5;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border: rgb(17 69 166) 1px solid;
  }

  .currentProjectInformation {
    overflow: scroll;
  }

  .wireframe {
    height: 20vh;
    width: 70vw;
  }

  .portfolioPageInformation img {
    height: 25vh;
    width: 75vw;
  }

  .socialMedia {
    font-size: 3vw;
  }
}